@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marck+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  width: 100vw;
  background-color: #26FFA4;
}

h1 {
  position: fixed;
  font-family: "Caveat";
  font-size: 6vw;
  top: 50%;
  left: 50%;
  letter-spacing: 1.25px;
  transform: translate(-50%, -50%);
  color: #FF471E;
  z-index: 2;
}

svg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  z-index: 1;
}
svg path {
  stroke: #F6854E;
}
