@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marck+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Caveat";
  font-size: 6vw;
  top: 50%;
  left: 50%;
  letter-spacing: 1.25px;
  color: #FF471E;
  z-index: 2;
}

svg path {
  stroke: #F6854E;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

.post-card {
  height: 0;
  overflow: hidden;
}
.post-card.show {
	height: 100vh;
}
.post-card.show * {
  transition: all 1s ease-out;
}
.post-card.show .post-card-content {
	margin-top: 25vh;
}
